<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
                <div th:replace="~{fragments/head :: logo_header}">
                </div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item">
							<a th:href="@{/restaurant/dashboard}" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item active">
							<a th:href="@{/restaurant/orders}" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
                        <li class="nav-item">
							<a th:href="@{/restaurant/categories}" class="py-3">
								<i class="fas fa-grip-horizontal"></i>
								<p>Quản lý danh mục món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/accounts}" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

        <div class="main-panel">
            <!-- Header -->
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div th:replace="~{fragments/head :: logo_header}">
					</div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control" />
                            </div> -->
                            <h3 class="fw-bold mb-0">Quản lý đơn hàng</h3>
                        </nav>
                        <ul th:replace="~{fragments/head :: user_box}"></ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- End header -->



            <!-- Main content -->
            <div class="container">
                <div class="page-inner">
                    <!-- Breadcrum -->
                    <div class="page-header">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a th:href="@{/restaurant/dashboard}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Quản lý đơn hàng</a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Tạo đơn</a>
                            </li>
                        </ul>
                    </div>

                    <!--TODO: code main view here  -->
                    <div class="row">
                        <form role="form" th:action="@{/restaurant/orders/new}" th:object="${order}" method="post" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Thông tin</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
<!--                                        người đặt hàng-->
                                        <div class="form-group">
                                            <label for="user">Số điện thoại người đặt hàng<span class="text-danger">*</span></label>
                                            <select class="form-select" id="user" th:field="*{userId}">
                                                <option th:each="user : ${user}" th:value="${user.userId}" th:text="${user.phone}"></option>
                                            </select>
                                        </div>
<!--                                         giá tiền-->
                                        <div class="form-group">
                                            <label for="totalAmount">Tổng tiền<span class="text-danger">*</span></label>
                                            <input type="number" class="form-control" id="totalAmount" placeholder="Nhập giá tiền" th:field="*{totalAmount}" required>
                                        </div>

<!--                                        trạng thái đơn hàng-->
                                        <div class="form-group">
                                            <label for="status">Trạng thái đơn hàng<span class="text-danger">*</span></label>
                                            <select class="form-control" id="status" th:field="*{status}" required>
                                                <option th:each="status : ${T(com.graduate.hou.enums.OrderStatus).values()}"
                                                        th:value="${status}" th:text="${status}">Status</option>
                                            </select>
                                        </div>

<!--                                        địa chỉ-->
                                        <div class="form-group">
                                            <label for="address">Địa chỉ<span class="text-danger">*</span></label>
                                            <select class="form-select" id="address" th:field="*{addressId}">
                                                <option th:each="address : ${address}" th:value="${address.addressId}" th:text="${address.city}"></option>
                                            </select>
                                        </div>
<!--                                        thanh toán-->
                                        <div class="form-group">
                                            <label for="payment">Thanh toán<span class="text-danger">*</span></label>
                                            <select class="form-select" id="payment" th:field="*{paymentId}">
                                                <option th:each="payment : ${payment}" th:value="${payment.paymentId}" th:text="${payment.paymentId}"></option>
                                            </select>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Lưu</button>
                                <a th:href="@{/restaurant/orders}" class="btn btn-danger">Hủy</a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End main content -->




            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}">
            </footer>
            <!-- End footer -->
        </div>
    </div>
    
	<div th:replace="~{fragments/script :: script}">
	</div>
    
</body>
</html>