<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
                <div th:replace="~{fragments/head :: logo_header}">
                </div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item">
							<a th:href="@{/restaurant/dashboard}" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item active">
							<a th:href="@{/restaurant/orders}" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
                        <li class="nav-item">
							<a th:href="@{/restaurant/categories}" class="py-3">
								<i class="fas fa-grip-horizontal"></i>
								<p>Quản lý danh mục món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/accounts}" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

        <div class="main-panel">
            <!-- Header -->
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div th:replace="~{fragments/head :: logo_header}">
					</div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control" />
                            </div> -->
                            <h3 class="fw-bold mb-0">Quản lý đơn hàng</h3>
                        </nav>
                        <ul th:replace="~{fragments/head :: user_box}"></ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- End header -->



            <!-- Main content -->
            <div class="container">
                <div class="page-inner">
                    <!-- Breadcrum -->
                    <div class="page-header">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a th:href="@{/restaurant/dashboard}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Quản lý đơn hàng</a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Tạo đơn</a>
                            </li>
                        </ul>
                    </div>

                    <!--TODO: code main view here  -->
                    <div class="row">
                        <form role="form" th:action="@{/restaurant/orders/new}" th:object="${order}" method="post" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Đơn hàng</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">Thông tin nhận hàng</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="fullname">Họ và tên<span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="fullname" placeholder="Họ và tên người nhận" th:field="*{totalAmount}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone">Số điện thoại<span class="text-danger">*</span></label>
                                                    <input type="tel" class="form-control" id="phone" placeholder="Điện thoại" th:field="*{totalAmount}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="address">Địa chỉ nhận hàng<span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ" th:field="*{totalAmount}" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">Thông tin thanh toán</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="paymentMethod">Hình thức thanh toán<span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="paymentMethod" placeholder="Hình thức thanh toán" th:field="*{totalAmount}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="paymentStatus">Trạng thái thanh toán<span class="text-danger">*</span></label>
                                                    <input type="tel" class="form-control" id="paymentStatus" placeholder="Trạng thái thanh toán" th:field="*{totalAmount}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="orderDate">Thời gian đặt hàng<span class="text-danger">*</span></label>
                                                    <input type="datetime-local" class="form-control" id="orderDate" placeholder="Địa chỉ" th:field="*{totalAmount}" disabled required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">Ghi chú</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <textarea type="text" class="form-control" id="paymentMethod" rows="2" placeholder="Ghi chú" th:field="*{totalAmount}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="card" id="product-list">
                                            <div class="card-header">
                                                <h5 class="card-title">Món ăn</h5>
                                            </div>
                                            <div class="card-body" style="max-height: 500px; overflow-y: auto;">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="product : ${products}">
                                                                <td style="width: 50px;">
                                                                    <input class="form-check-input m-0 p-0 product-list-item" type="checkbox" th:value="${product.productId}" th:id="${'chk'+product.productId}" aria-label="..." th:data-price="${product.price}">
                                                                </td>
                                                                <td th:if="${product.productImages != null && !product.productImages.isEmpty()}" class="d-flex flex-row align-items-start">
                                                                    <img th:src="@{'/uploads/product/'+${product.productImages[0].pathString}}" alt="image" class="img-fluid rounded align-self-center me-1 p-0" width="50px" height="40px" th:id="${'img'+product.productId}">
                                                                    <div class="d-flex flex-column align-items-start ms-2 align-self-center p-0">
                                                                        <span th:text="${product.name}" class="fw-bold" th:id="${'name'+product.productId}"></span>
                                                                        <span th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA') + ' đ'}" th:id="${'price'+product.productId}"></span>
                                                                    </div>
                                                                </td>
                                                                <td th:if="${product.productImages == null || product.productImages.isEmpty()}" class="d-flex flex-row align-items-center p-0">
                                                                    <!-- <img th:src="@{'/uploads/'+${product.productImages[0].pathString}}" alt="image" class="img-fluid rounded" width="40px"> -->
                                                                    <div class="d-flex flex-column align-items-start ms-2 align-self-center p-0">
                                                                        <span th:text="${product.name}" class="fw-bold"></span>
                                                                        <span th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA') + ' đ'}" ></span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">Chi tiết đơn</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Món ăn</th>
                                                                <th class="text-end">Số lượng</th>
                                                                <th class="text-end">Đơn giá</th>
                                                                <th class="text-end">Tổng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr id="data">
                                                                <td>

                                                                </td>
                                                                <td class="text-end"></td>
                                                                <td class="text-end"></td>
                                                                <td class="text-end"></td>
                                                            </tr> -->
                                                            <tr id="totalRow">
                                                                <td colspan="3" class="text-end">Tổng tiền hàng</td>
                                                                <td class="text-end" id="totalAmount">0đ</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3" class="text-end">Tổng khuyến mãi</td>
                                                                <td class="text-end">0đ</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3" class="text-end">Tổng thanh toán</td>
                                                                <td class="text-end">0đ</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Lưu</button>
                                <a th:href="@{/restaurant/orders}" class="btn btn-danger">Hủy</a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End main content -->




            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}">
            </footer>
            <!-- End footer -->
        </div>
    </div>
    
	<div th:replace="~{fragments/script :: script}">
	</div>
    <script>
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0'); // Tháng từ 0 đến 11 nên cộng thêm 1
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        const currentTime = `${year}-${month}-${day}T${hours}:${minutes}`;

        document.getElementById('orderDate').setAttribute('max', currentTime);
        document.getElementById('orderDate').setAttribute('value', currentTime);

        const totalRow = document.getElementById('totalRow');
        const checkboxes = document.querySelectorAll('.product-list-item')
        const numberFotmater = new Intl.NumberFormat('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 })
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                // Kiểm tra xem checkbox có được tick hay không
                if (checkbox.checked) {
                    // Nếu được tick, thêm món vào danh sách gọi món
                    addToOrder(checkbox.value, checkbox.dataset.price);
                } else {
                    // Nếu bỏ tick, xóa món khỏi danh sách gọi món
                    removeFromOrder(checkbox.value, checkbox.dataset.price);
                }
            });
        });

        var totalPrice = 0.0

        function addToOrder(productId, unitPrice) {
            totalPrice += parseFloat(unitPrice)
            console.log(totalPrice);
            updateTotolPrice(totalPrice)
            const newRow = document.createElement('tr');
            const img = document.getElementById('img'+productId).cloneNode(true)
            const name = document.getElementById('name'+productId).cloneNode(true)
            img.id = 'selected-img'+productId
            name.id = 'selected-name'+productId
            newRow.setAttribute('id', 'selected-product-'+productId)
            // Thêm các <td> vào <tr> mới
            const dish = document.createElement('td');
            dish.appendChild(img)
            dish.appendChild(name)
            newRow.appendChild(dish);

            const quantity = document.createElement('td');
            quantity.id = 'quantity' + productId
            quantity.className = 'text-end';
            quantity.style.whiteSpace = 'nowrap'
            const quantityInput = document.createElement('input');
            quantityInput.type = 'number';
            quantityInput.id = 'quantityInput' + productId
            quantityInput.style.width = '30px'
            quantityInput.style.height = '32px'
            quantityInput.className = 'text-center';
            quantityInput.value = '1'; // Initial quantity
            quantityInput.min = '1';  // Minimum value

            // Create the decrease button (-)
            const decreaseButton = document.createElement('button');
            decreaseButton.textContent = '-';
            decreaseButton.className = 'btn btn-primary btn-sm quantity-btn'+productId;
            decreaseButton.type = 'button'

            // Create the increase button (+)
            const increaseButton = document.createElement('button');
            increaseButton.textContent = '+';
            increaseButton.type = 'button'
            increaseButton.className = 'btn btn-primary btn-sm quantity-btn'+productId;

            decreaseButton.addEventListener('click', () => {
                let currentValue = parseInt(quantityInput.value);
                if (currentValue > 1) { // Prevent negative or zero quantities
                    quantityInput.value = currentValue - 1;
                    totalPrice -= parseFloat(unitPrice)
                    updateTotolPrice(totalPrice)
                    total.textContent = numberFotmater.format(quantityInput.value * unitPrice) + 'đ'
                }
            });

            increaseButton.addEventListener('click', () => {
                let quantityValue = parseInt(quantityInput.value);
                quantityInput.value = quantityValue + 1;
                totalPrice += parseFloat(unitPrice)
                updateTotolPrice(totalPrice)
                total.textContent = numberFotmater.format(quantityInput.value * unitPrice) + 'đ'
            });

            quantity.appendChild(decreaseButton);
            quantity.appendChild(quantityInput);
            quantity.appendChild(increaseButton);
            newRow.appendChild(quantity);

            const price = document.createElement('td');
            price.className = 'text-end';
            price.textContent = numberFotmater.format(unitPrice) +  'đ'
            newRow.appendChild(price);

            const total = document.createElement('td');
            total.className = 'text-end';
            total.textContent = numberFotmater.format(quantityInput.value * unitPrice) + 'đ'
            newRow.appendChild(total);

            // Chèn <tr> mới vào trước <tr id="total">
            totalRow.insertAdjacentElement('beforebegin', newRow);

            // Add event listeners for the buttons
            
        }

        function removeFromOrder(productId, unitPrice) {
            const selected = document.getElementById('selected-product-'+productId)
            const quantityInput = document.getElementById('quantityInput'+productId)
            totalPrice -= parseInt(quantityInput.value) * parseFloat(unitPrice)
            updateTotolPrice(totalPrice)
            selected.remove()
        }

        function updateTotolPrice(value){
            const totalAmount = document.getElementById('totalAmount')
            totalAmount.textContent = numberFotmater.format(value) + 'đ'
        }
    </script>
</body>
</html>