.delete-image-icon {
    position: absolute;
    top: -16px;
    right: -16px;
    border-radius: 50%;
    cursor: pointer;
}

.image-preview-container {
    position: relative;
    display: inline-block;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Ẩn trên Firefox */
}

.text-red {
    color: red;
}

.text-darkgreen {
    color: darkgreen;
}