<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
                <div th:replace="~{fragments/head :: logo_header}">
                </div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item">
							<a th:href="@{/restaurant/dashboard}" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/orders}" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
                        <li class="nav-item">
							<a th:href="@{/restaurant/categories}" class="py-3">
								<i class="fas fa-grip-horizontal"></i>
								<p>Quản lý danh mục món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="#" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

        <div class="main-panel">
            <!-- Header -->
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div th:replace="~{fragments/head :: logo_header}">
					</div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <h3 class="fw-bold mb-0">Quản lý tài khoản</h3>
                        </nav>

                        <ul th:replace="~{fragments/head :: user_box}"></ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- End header -->



            <!-- Main content -->
            <div class="container">
                <div class="page-inner">
                    <!-- Breadcrum -->
                    <div class="page-header">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a th:href="@{/restaurant/dashboard}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Quản lý tài khoản</a>
                            </li>
                        </ul>
                    </div>

                <!--TODO: code main view here  -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Danh sách tài khoản</h4>
                                        <a th:href="@{/restaurant/accounts/new}" class="btn btn-primary btn-round ms-auto">
                                            <i class="fa fa-plus"></i>
                                            Cấp mới tài khoản
                                        </a>
                                    </div>
                                    <div class="card-tools">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="accounts-table" class="display table table-hover">
                                            <thead>
                                                <tr role="row">
                                                    <th>Họ tên</th>
                                                    <th>Email</th>
                                                    <th>Điện thoại</th>
                                                    <th>Vai trò</th>
                                                    <th>Điểm</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <th>Họ tên</th>
                                                <th>Email</th>
                                                <th>Điện thoại</th>
                                                <th>Vai trò</th>
                                                <th>Điểm</th>
                                                <th>Thao tác</th>
                                            </tfoot>
                                            <tbody>
                                            <tr th:each="account : ${accounts}" class="old" role="row">
                                                <td th:text="${account.fullname}"></td>
                                                <td th:text="${account.email}"></td>
                                                <td th:text="${account.phone}"></td>
                                                <td>
                                                    <span th:each="role : ${account.roles}" th:text="${role.name()}"></span>
                                                </td>

                                                <td th:text="${account.userPoint}"></td>
                                                <td>
                                                    <div th:if="${currentAccountId == account.userId}">
                                                        <span class="text-success">Đang đăng nhập</span>
                                                    </div>
                                                    <div th:unless="${currentAccountId == account.userId}" class="form-button-action">
                                                        <button th:each="role : ${account.roles}" type="button" title="See" class="btn btn-outline-dark me-1 btn-sm" data-bs-toggle="modal" data-bs-target="#detailAccountModal"
                                                                th:data-account-name="${account.fullname}"
                                                                th:data-account-email="${account.email}"
                                                                th:data-account-phone="${account.phone}"
                                                                th:data-account-role="${role.name()}"
                                                                th:data-account-create="${account.createdAt}"
                                                                th:data-account-update="${account.updatedAt}"
                                                                th:onclick="'loadAccountImageToModal(' + ${account.userId} + ')'">
                                                            <i class="fas fa-eye"></i>
                                                        </button>
                                                        <a th:href="@{/restaurant/accounts/{id}/edit(id=${account.userId})}" data-bs-toggle="tooltip" title="Edit Task" class="btn btn-outline-primary me-1 btn-sm">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <button type="button" data-bs-toggle="tooltip" th:onclick="'deleteAccount(' + ${account.userId} + ')'" title="Delete" class="btn btn-outline-danger btn-sm" data-bs-placement="top" data-bs-title="Vô hiệu hóa">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal fade modal-lg modal-dialog-scrollable" id="detailAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-md-8">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title">Thông tin đơn hàng</div>
                                                            </div>
                                                            <div class="card-body">

                                                                <div class="d-flex justify-content-between">
                                                                    <p>Tên tài khoản</p>
                                                                    <p class="text-muted" id="modal-account-name">Đang phục vụ</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p>Email</p>
                                                                    <p class="text-muted" id="modal-account-emmail">Hiện</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between mt-2">
                                                                    <p>Số điện thoại</p>
                                                                    <p class="text-muted" id="modal-account-phone">19/10/2024 14:23:12</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p>Loại tài khoản</p>
                                                                    <p class="text-muted" id="modal-account-Role">20/10/2024 18:32:04</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p>Khởi tạo</p>
                                                                    <p class="text-muted" id="modal-account-createDate">20/10/2024 18:32:04</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p>Cập nhật</p>
                                                                    <p class="text-muted" id="modal-account-updateDate">20/10/2024 18:32:04</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger btm-sm" data-bs-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End main content -->




            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}">
            </footer>
            <!-- End footer -->
        </div>
    </div>

    <div th:replace="~{fragments/script :: script}">
	</div>
    
    <script>
        $(document).ready(function(){
            $('#accounts-table').DataTable({
                pageLength: 10,
                stateSave: true,
                language: {
                    paginate: {
                        next: '&rsaquo;',
                        previous: '&lsaquo;',
                    },
                    info: '_START_ đến _END_ / _TOTAL_ bản ghi',
                    infoFiltered: '(Lọc từ _MAX_ bản ghi)',
                    search: 'Tìm kiếm',
                    searchPlaceholer: 'Nhận từ khóa...',
                    lengthMenu: 'Hiện _MENU_',
                    zeroRecords: 'Không tìm thấy kết quả phù hợp',
                    emptyTable: 'Không có dữ liệu'
                },

            })
        })

        const detailAccountModal = document.getElementById('detailAccountModal')
        detailAccountModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const accounName = button.getAttribute('data-account-name')
            const accountEmail = button.getAttribute('data-account-email')
            const accountPhone = button.getAttribute('data-account-phone')
            const accountRole = button.getAttribute('data-account-role')
            const accountCreate = button.getAttribute('data-account-create')
            const accountUpdate = button.getAttribute('data-account-update')


            detailAccountModal.querySelector('#modal-account-name').textContent = accounName;

            detailAccountModal.querySelector('#modal-account-emmail').textContent = accountEmail;
            detailAccountModal.querySelector('#modal-account-phone').textContent = accountPhone;
            detailAccountModal.querySelector('#modal-account-Role').textContent = accountRole;
            const options = {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            };
            const createAt = new Date(accountCreate)
            const updateAt = new Date(accountUpdate)
            detailAccountModal.querySelector('#modal-account-createDate').textContent = new Intl.DateTimeFormat('vi-VN',options).format(createAt)
            detailAccountModal.querySelector('#modal-account-updateDate').textContent = new Intl.DateTimeFormat('vi-VN',options).format(updateAt)
        })
        function deleteAccount(userId) {
            swal({
                title: 'Bạn có chắc muốn xóa?',
                text: "Bạn sẽ không thể hoàn tác sau khi thực hiện việc này!",
                icon: 'warning',
                buttons:{
                    confirm: {
                        text : 'Có, xóa!',
                        className : 'btn btn-success'
                    },
                    cancel: {
                        visible: true,
                        text : 'Không',
                        className: 'btn btn-danger'
                    },
                }
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: 'accounts/'+userId+'/delete',
                        method: 'GET',
                        success: function(response) {
                            result = JSON.parse(response)
                            //console.log('delete', result)
                            if(result.delete){
                                swal("Danh mục đã bị xóa!", {
                                    icon: "success",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-success'
                                        }
                                    }
                                }).then((ok) => {
                                    if(ok){
                                        window.location.href = 'accounts'
                                    }
                                    window.location.href = 'accounts'
                                })
                            } else {
                                swal("Tài khoản vẫn đang được sử dụng, không thể xóa", {
                                    icon: "error",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-danger'
                                        }
                                    }
                                });
                            }
                        },
                        error: function(error) {
                            alert('Đã có lỗi xảy ra!')
                            console.log('delete accounts',error)
                        }
                    })
                } else {
                    //do nothing when cancel
                    swal.close()
                }
            });
        }


    </script>
</body>
</html>