<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
                <div th:replace="~{fragments/head :: logo_header}">
                </div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item">
							<a th:href="@{/restaurant/dashboard}" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/orders}" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
                        <li class="nav-item">
							<a th:href="@{/restaurant/categories}" class="py-3">
								<i class="fas fa-grip-horizontal"></i>
								<p>Quản lý danh mục món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="#" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

        <div class="main-panel">
            <!-- Header -->
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div th:replace="~{fragments/head :: logo_header}">
					</div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <h3 class="fw-bold mb-0">Quản lý tài khoản</h3>
                        </nav>

                        <ul th:replace="~{fragments/head :: user_box}"></ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- End header -->



            <!-- Main content -->
            <div class="container">
                <div class="page-inner">
                    <!-- Breadcrum -->
                    <div class="page-header">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a th:href="@{/restaurant/dashboard}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Quản lý tài khoản</a>
                            </li>
                        </ul>
                    </div>

                <!--TODO: code main view here  -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Danh sách tài khoản</h4>
                                        <a th:href="@{/restaurant/accounts/new}" class="btn btn-primary btn-round ms-auto">
                                            <i class="fa fa-plus"></i>
                                            Cấp mới tài khoản
                                        </a>
                                    </div>
                                    <div class="card-tools">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="accounts-table" class="display table table-hover">
                                            <thead>
                                                <tr role="row">
                                                    <th>Họ tên</th>
                                                    <th>Email</th>
                                                    <th>Điện thoại</th>
                                                    <th>Vai trò</th>
                                                    <th>Điểm</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <th>Họ tên</th>
                                                <th>Email</th>
                                                <th>Điện thoại</th>
                                                <th>Vai trò</th>
                                                <th>Điểm</th>
                                                <th>Thao tác</th>
                                            </tfoot>
                                            <tbody>
                                                <tr role="row">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button type="button" title="" class="btn btn-outline-dark me-1 btn-sm" data-original-title="See" data-bs-toggle="modal" data-bs-target="#detailOrderModal">
                                                            <i class="fas fa-eye"></i>
                                                        </button>
                                                        <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-outline-primary me-1 btn-sm" data-original-title="Edit Task">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-outline-danger btn-sm" data-original-title="Cancel" data-bs-placement="top" data-bs-title="">
                                                            <i class="fas fa-ban"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End main content -->




            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}">
            </footer>
            <!-- End footer -->
        </div>
    </div>

    <div th:replace="~{fragments/script :: script}">
	</div>
    
    <script>
        $(document).ready(function(){
            $('#accounts-table').DataTable({
                pageLength: 10,
                stateSave: true,
                language: {
                    paginate: {
                        next: '&rsaquo;',
                        previous: '&lsaquo;',
                    },
                    info: '_START_ đến _END_ / _TOTAL_ bản ghi',
                    infoFiltered: '(Lọc từ _MAX_ bản ghi)',
                    search: 'Tìm kiếm',
                    searchPlaceholer: 'Nhận từ khóa...',
                    lengthMenu: 'Hiện _MENU_',
                    zeroRecords: 'Không tìm thấy kết quả phù hợp',
                    emptyTable: 'Không có dữ liệu'
                },
                initComplete: function () {
                    this.api()
                    .columns()
                    .every(function (index) {
                        if(index !== 5){
                            var column = this;
                            var select = $(
                            '<select class="form-select"><option value=""></option></select>'
                            )
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column
                                .search(val ? "^" + val + "$" : "", true, false)
                                .draw();
                            });

                            column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.append(
                                '<option value="' + d + '">' + d + "</option>"
                                );
                            });
                        }
                    });
                },
            })
        })
    </script>
</body>
</html>