	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head}"></head>
<body class="login bg-primary">

    <div class="wrapper wrapper-login">
		<!-- Sign in form -->
        <div class="container container-login animated fadeIn" style="display: block;">
			<form method="post" th:action="@{/restaurant/login}">
			<h3 class="text-center">ĐĂNG NHẬP</h3>
			<div class="login-form">
			<div class="form-sub">
					<div class="form-floating form-floating-custom mb-3">
						<input id="username" name="username" type="text" class="form-control" placeholder="username" required="" >
						<label for="username">Tên đăng nhập</label>
					</div>
					<div class="form-floating form-floating-custom mb-3">
						<input id="password" name="password" type="password" class="form-control" placeholder="password" required="">
						<label for="password">Mật khẩu</label>
						<div class="show-password">
							<i class="icon-eye"></i>
						</div>
					</div>
			</div>
			<div class="row m-0">
				<div class="d-flex form-sub">
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="rememberme">
					<label class="form-check-label" for="rememberme">Nhớ tài khoản</label>
				</div>
	
				<a href="#" class="link float-end">Quên mật khẩu ?</a>
				</div>
			</div>
			<div class="row m-0">
				<span class="text-danger" th:text="${error}"></span>
			</div>
			<div class="form-action mb-3">
				<button id="btn_login" type="submit" class="btn btn-primary w-100 btn-login">Đăng nhập</button>
			</div>
			<div class="login-account">
				<span class="msg">Chưa có tài khoản ?</span>
				<a href="#" id="show-signup" class="link">Đăng ký</a>
			</div>
			</div>
			</form>
		</div>
		<!-- End sign in form -->
		
		<!-- Sign up form -->
		<div class="container container-signup animated fadeIn" style="display: block;">
			<h3 class="text-center">ĐĂNG KÝ</h3>
			<div class="login-form">
			<div class="form-sub">
				<div class="form-floating form-floating-custom mb-3">
				<input id="fullname" name="fullname" type="text" class="form-control" placeholder="fullname" required="">
				<label for="fullname">Tên đăng nhập</label>
				</div>
				<div class="form-floating form-floating-custom mb-3">
				<input id="email" name="email" type="email" class="form-control" placeholder="email" required="">
				<label for="email">Email</label>
				</div>
				<div class="form-floating form-floating-custom mb-3">
				<input id="passwordsignin" name="passwordsignin" type="password" class="form-control" placeholder="passwordsignin" required="">
				<label for="passwordsignin">Mật khẩu</label>
				<div class="show-password">
					<i class="icon-eye"></i>
				</div>
				</div>
				<div class="form-floating form-floating-custom mb-3">
				<input id="confirmpassword" name="confirmpassword" type="password" class="form-control" placeholder="confirmpassword" required="">
				<label for="confirmpassword">Xác nhận mật khẩu</label>
				<div class="show-password">
					<i class="icon-eye"></i>
				</div>
				</div>
			</div>
			<div class="form-action">
				<a href="#" id="show-signin" class="btn btn-danger btn-link btn-login me-3">Hủy bỏ</a>
				<a onclick="onClickSignUp()" href="#" class="btn btn-primary btn-login">Xác nhận</a>
			</div>
			</div>
		</div>
		<!-- End sign up form -->
    </div>

	<div th:replace="~{fragments/script :: script}">
	</div>

</body>
</html>