<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">

<head th:replace="~{fragments/head :: head}"></head>
<body>
	<div class="wrapper">
		<!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
				<div th:replace="~{fragments/head :: logo_header}">
				</div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item active">
							<a href="#" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/orders}" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/categories}" class="py-3">
								<i class="fas fa-grip-horizontal"></i>
								<p>Quản lý danh mục món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/accounts}" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="main-header">
				<div class="main-header-logo">
					<!-- Logo Header -->
                    <div th:replace="~{fragments/head :: logo_header}">
					</div>
					<!-- End Logo Header -->
				</div>
				<!-- Navbar Header -->
				<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
					<div class="container-fluid">
						<nav
							class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
							<!-- <div class="input-group">
								<div class="input-group-prepend">
									<button type="submit" class="btn btn-search pe-1">
										<i class="fa fa-search search-icon"></i>
									</button>
								</div>
								<input type="text" placeholder="Search ..." class="form-control" />
							</div> -->
						</nav>

						<ul th:replace="~{fragments/head :: user_box}"></ul>
					</div>
				</nav>
				<!-- End Navbar -->
			</div>

			<!-- Main container -->
			<div class="container">
				<div class="page-inner">

					<!-- Row content -->
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<div class="card card-stats card-round">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-icon">
											<div class="icon-big text-center icon-primary bubble-shadow-small">
												<i class="fas fa-clipboard"></i>
											</div>
										</div>
										<div class="col col-stats ms-3 ms-sm-0">
											<div class="numbers">
												<p class="card-category">Tổng đơn trong ngày</p>
												<h4 class="card-title">0</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="card card-stats card-round">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-icon">
											<div class="icon-big text-center icon-success bubble-shadow-small">
												<i class="fas fa-dollar-sign"></i>
											</div>
										</div>
										<div class="col col-stats ms-3 ms-sm-0">
											<div class="numbers">
												<p class="card-category">Doanh số trong ngày</p>
												<h4 class="card-title">0đ</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="card card-stats card-round">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-icon">
											<div class="icon-big text-center icon-secondary bubble-shadow-small">
												<i class="far fa-check-circle"></i>
											</div>
										</div>
										<div class="col col-stats ms-3 ms-sm-0">
											<div class="numbers">
												<p class="card-category">Số đơn thành công trong ngày</p>
												<h4 class="card-title">0</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End row content -->

					<!-- Row content -->
					<div class="row">
						<div class="col-md-12">
							<div class="card card-round">
								<div class="card-header">
									<div class="card-head-row">
										<div class="card-title">Đơn chờ xác nhận</div>
										<div class="card-tools">
											<a href="#" class="btn btn-label-primary btn-round btn-sm me-2">
												<span class="btn-label">
													0
												</span> Đơn
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div class="flex-1">
											<h6 class="fw-bold mb-1">
												Nguyễn Ngọc Ngạn
												<span class="ps-3 fw-normal">8:40 PM</span>
											</h6>
											<div>
												<span class="text-muted">0983746573</span>
												<span> - </span>
												<span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
											</div>
											<div class="text-dark">
												189,000đ
											</div>
											<div >
												<span class="text-muted">Thanh toán bằng tài khoản ngân hàng</span>
												<span> - </span>
												<span class="text-success">Đã thanh toán</span>
											</div>
											<div>
												<button class="nav-link text-primary" data-bs-toggle="modal" data-bs-target="#detailOrderModal">Xem chi tiết</button>
											</div>
										</div>
										<div class="float-end pt-1">
											<button class="btn btn-round btn-primary">Xác nhận</button>
										</div>
									</div>
									<!-- <div class="separator-dashed"></div>
									<div class="d-flex align-items-center" id="item-2">
										<div class="flex-1">
											<h6 class="fw-bold mb-1">
												Nguyễn Ngọc Ngạn
												<span class="ps-3 fw-normal">8:40 PM</span>
											</h6>
											<div>
												<span class="text-muted">0983746573</span>
												<span> - </span>
												<span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
											</div>
											<div class="text-dark">
												189,000đ
											</div>
											<div >
												<span class="text-muted">Thanh toán khi nhận hàng</span>
												<span> - </span>
												<span class="text-warning">Chưa thanh toán</span>
											</div>
											<div>
												<button class="nav-link text-primary" data-bs-toggle="modal" data-bs-target="#detailOrderModal">Xem chi tiết</button>
											</div>
										</div>
										<div class="float-end pt-1">
											<button class="btn btn-round btn-primary" onclick="onComfirmOrder()">Xác nhận</button>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<!-- End row content -->


					<!-- Row content -->
					<div class="row">
						<div class="col-md-12">
							<div class="card card-round">
								<div class="card-header">
									<div class="card-head-row">
										<div class="card-title">User Statistics</div>
										<div class="card-tools">
											<a href="#" class="btn btn-label-primary btn-round btn-sm me-2">
												<span class="btn-label">
													2024
												</span>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="chart-container" style="min-height: 375px">
										<canvas id="statisticsChart"></canvas>
									</div>
									<div id="myChartLegend"></div>
								</div>
							</div>
						</div>

					</div>
					<!-- End row content -->

					<!-- Row content -->
					<!-- <div class="row">
						<div class="col-md-12">
							<div class="card card-round">
								<div class="card-header">
									<div class="card-head-row card-tools-still-right">
										<div class="card-title">Transaction History</div>
										<div class="card-tools">
											<div class="dropdown">
												<button class="btn btn-icon btn-clean me-0" type="button"
													id="dropdownMenuButton" data-bs-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false">
													<i class="fas fa-ellipsis-h"></i>
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body p-0">
									<div class="table-responsive">
										
										<table class="table align-items-center mb-0">
											<thead class="thead-light">
												<tr>
													<th scope="col">Payment Number</th>
													<th scope="col" class="text-end">Date & Time</th>
													<th scope="col" class="text-end">Amount</th>
													<th scope="col" class="text-end">Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">
														<button class="btn btn-icon btn-round btn-success btn-sm me-2">
															<i class="fa fa-check"></i>
														</button>
														Payment from #10231
													</th>
													<td class="text-end">Mar 19, 2020, 2.45pm</td>
													<td class="text-end">$250.00</td>
													<td class="text-end">
														<span class="badge badge-success">Completed</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- End row content -->
				</div>
			</div>
			<!-- End main container -->

			<!-- Modal notification -->
			<div class="modal fade modal-lg modal-dialog-scrollable" id="detailOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center">
							<div class="flex-1">
								<h6 class="fw-bold mb-1">
									Nguyễn Ngọc Ngạn
									<span class="ps-3 fw-normal">8:40 PM</span>
								</h6>
								<div>
									<span class="text-muted">0983746573</span>
									<span> - </span>
									<span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
								</div>
								<div class="text-dark">
									189,000đ
								</div>
								<div >
									<span class="text-muted">Thanh toán khi nhận hàng</span>
									<span> - </span>
									<span class="text-warning">Chưa thanh toán</span>
								</div>
								<div>
									<table class="table">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Món ăn</th>
												<th scope="col">Số lượng</th>
												<th scope="col">Đơn giá</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>Cơm xào me</td>
												<td>4</td>
												<td>34,000</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
					</div>
				</div>
				</div>
			</div>
			<!-- End modal notification -->

			<!-- Footer -->
			<footer th:replace="~{fragments/footer :: footer}">
            </footer>
		</div>

	</div>
	<div th:replace="~{fragments/script :: script}">
	</div>
	
	<script>
		$("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
			type: "line",
			height: "70",
			width: "100%",
			lineWidth: "2",
			lineColor: "#177dff",
			fillColor: "rgba(23, 125, 255, 0.14)",
		});

		$("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
			type: "line",
			height: "70",
			width: "100%",
			lineWidth: "2",
			lineColor: "#f3545d",
			fillColor: "rgba(243, 84, 93, .14)",
		});

		$("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
			type: "line",
			height: "70",
			width: "100%",
			lineWidth: "2",
			lineColor: "#ffa534",
			fillColor: "rgba(255, 165, 52, .14)",
		});
	</script>
	</body>

</html>