<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
                <div th:replace="~{fragments/head :: logo_header}">
                </div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item ">
							<a th:href="@{/restaurant/dashboard}" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="#" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
                        <li class="nav-item">
							<a th:href="@{/restaurant/categories}" class="py-3">
								<i class="fas fa-grip-horizontal"></i>
								<p>Quản lý danh mục món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/accounts}" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

        <div class="main-panel">
            <!-- Header -->
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div th:replace="~{fragments/head :: logo_header}">
					</div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control" />
                            </div> -->
                            <h3 class="fw-bold mb-0">Quản lý đơn hàng</h3>
                        </nav>

                        <ul th:replace="~{fragments/head :: user_box}"></ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- End header -->



            <!-- Main content -->
            <div class="container">
                <div class="page-inner">
                    <!-- Breadcrum -->
                    <div class="row">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a th:href="@{/restaurant/dashboard}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Quản lý đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End breadcrum -->



					<!-- Row content -->
					<div class="row">
						<div class="col-md-12">
							<div class="card card-round">
								<div class="card-header">
									<div class="card-head-row">
										<div class="card-title">Đơn chờ xác nhận</div>
										<div class="card-tools">
											<a href="#" class="btn btn-label-primary btn-round btn-sm me-2">
												<span class="btn-label" th:text="${pendingOrders.size()}">
													2
												</span> Đơn
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="d-flex align-items-center" th:each="order : ${pendingOrders}" th:id="${order.orderId}+'pending'">
										<div class="flex-1">
                                            <div>
                                                <span class="fw-bold mb-1 h-6" th:text="'#'+${order.orderId}"></span>
                                                <span class="ps-3 fw-normal" th:text="${#temporals.format(order.createdAt, 'HH:mm dd/MM/yyyy')}">8:40 PM</span>
                                                <span class="ps-3 fw-normal text-success" th:text="${order.getTotalQuantity + ' món'}"></span>
                                            </div>
											<div class="fw-bold mb-1" th:text="${'Người đặt hàng: '+ order.user.fullname +' - '+order.user.phone}"></div>
                                            <div>
                                                <span>Thông tin giao hàng: </span>
												<span class="text-muted ps-2" th:text="${order.address}">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
											</div>
											<div class="text-dark" th:text="${'Tổng thanh toán: '+ #numbers.formatDecimal(order.totalPayment, 0, 'POINT', 0, 'COMMA') + ' đ'}">
												189,000đ
											</div>
											<div >
												<span th:text="${order.payment.paymentMethod.name() == 'CREDIT_CARD' ? 'Thẻ tín dụng' : 'Khi nhận hàng'}" class="text-secondary text-center">Thanh toán bằng tài khoản ngân hàng</span>
												<span> - </span>
												<span th:classappend="${order.payment.paymentStatus.name() == 'PENDING' ? 'text-danger text-center' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'text-success text-center' : 'text-warning text-center')}"
                                                th:text="${order.payment.paymentStatus.name() == 'PENDING' ? 'Chưa thanh toán' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'Đã thanh toán' : 'Thanh toán thất bại')}">Đã thanh toán</span>
											</div>
											<!-- <div>
												<button class="nav-link text-primary" data-bs-toggle="modal" data-bs-target="#detailOrderModal" th:data-order-user-name="${order.user.username}"
                                                th:data-order-user-fullname="${order.user.fullname}"
                                                th:data-order-user-phone="${order.user.phone}"
                                                th:data-order-create="${order.createdAt}"
                                                th:data-order-address="${order.address}"
                                                th:data-order-totalAmount="${order.totalAmount}"
                                                th:data-order-totalPayment="${order.totalPayment}"
                                                th:data-order-totalDiscount="${order.totalDiscount}"
                                                th:data-order-paymentDate="${order.payment.paymentDate}"
                                                th:data-order-payment-method="${order.payment.paymentMethod.name() == 'CREDIT_CARD' ? 'Thẻ tín dụng' : 'Khi nhận hàng'}"
                                                th:data-order-payment-status="${order.payment.paymentStatus.name() == 'PENDING' ? 'Chưa thanh toán' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'Đã thanh toán' : 'Thanh toán thất bại')}"
                                                th:data-order-status="${order.status.name() == 'PENDING' ? 'Chờ xác nhận' : (order.status.name() == 'COMPLETED' ? 'Hoàn thành' : (order.status.name() == 'ON_PROGRESS' ? 'Đang xử lý' : 'Đã hủy'))}"
                                                th:data-order-update="${order.updatedAt}">Xem chi tiết</button>
											</div> -->
                                            <div class="separator-dashed"></div>
										</div>
										<div class="float-end pt-1">
											<button class="btn btn-round btn-primary" th:onclick="'onComfirmOrder('+${order.orderId}+')'">Xác nhận</button>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!-- End row content -->



                    <!-- Row content -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-round">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Danh sách đơn hàng</h4>
                                        <a class="btn btn-primary btn-round ms-auto" th:href="@{orders/new}">
                                            <i class="fa fa-plus"></i>
                                            Tạo đơn
                                        </a>
                                        <div class="card-tools">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="multi-filter-select" class="display table table-hover">
                                            <thead>
                                                <tr role="row">
                                                    <th>
                                                        Mã
                                                    </th>
                                                    <th>
                                                        Người đặt
                                                    </th>
                                                    <th>
                                                        Thời gian đặt
                                                    </th>
                                                    <th>
                                                        Tổng thanh toán
                                                    </th>
                                                    <!-- <th>
                                                        Phương thức thanh toán
                                                    </th> -->
                                                    <th>
                                                        Trạng thái thanh toán
                                                    </th>
                                                    <th>
                                                        Trạng thái đơn hàng
                                                    </th>
                                                    <th style="width: 10%;">
                                                        Thao tác
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Mã</th>
                                                    <th>Người đặt</th>
                                                    <th>Thời gian đặt</th>
                                                    <th>Tổng thanh toán</th>
                                                    <!-- <th>Phương thức thanh toán</th> -->
                                                    <th>Trạng thái thanh toán</th>
                                                    <th>Trạng thái đơn hàng</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            <tr th:each="order : ${orders}" class="old" role="row">
                                                <td th:text="${order.orderId}"></td>
                                                <!-- Hiển thị số điện thoại người dùng -->
                                                <td th:text="${order.user.fullname}"></td>

                                                <!-- Hiển thị ngày tạo đơn hàng -->
                                                <td th:text="${#temporals.format(order.createdAt, 'HH:mm dd/MM/yyyy')}" class="text-center"></td>
                                                <!-- <td th:text="${order.createdAt}" class="text-center"></td> -->

                                                <!-- Hiển thị tổng tiền đơn hàng -->
                                                <td th:text="${#numbers.formatDecimal(order.totalPayment, 0, 'POINT', 0, 'COMMA') + ' đ'}" class="text-center"></td>

                                                <!-- Hiển thị phương thức thanh toán -->
                                                <!-- <td th:text="${order.payment.paymentMethod.name() == 'CREDIT_CARD' ? 'Thẻ tín dụng' : 'Khi nhận hàng'}" class="text-secondary text-center"></td> -->

                                                <!-- Hiển thị trạng thái thanh toán -->
                                                <td th:classappend="${order.payment.paymentStatus.name() == 'PENDING' ? 'text-danger text-center' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'text-success text-center' : 'text-warning text-center')}"
                                                    th:text="${order.payment.paymentStatus.name() == 'PENDING' ? 'Chưa thanh toán' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'Đã thanh toán' : 'Thanh toán thất bại')}"></td>

                                                <!-- Hiển thị trạng thái đơn hàng -->
                                                <td th:classappend="${order.status.name() == 'PENDING' ? 'text-warning text-center' : (order.status.name() == 'COMPLETED' ? 'text-success text-center' : (order.status.name() == 'ON_PROGRESS' ? 'text-primary text-center' : (order.status.name() == 'WILLING_DELIVERY' ? 'text-darkgreen text-center' : (order.status.name() == 'ON_DELIVERY' ? 'text-center text-darkslateblue' : 'text-center text-danger'))))}"
                                                    th:text="${order.status.name() == 'PENDING' ? 'Chờ xác nhận' : (order.status.name() == 'COMPLETED' ? 'Hoàn thành' : (order.status.name() == 'ON_PROGRESS' ? 'Đang xử lý' : (order.status.name() == 'WILLING_DELIVERY' ? 'Sẵn sàng giao' : (order.status.name() == 'ON_DELIVERY' ? 'Đang giao':'Đã hủy'))))}"></td>

                                                <!-- Các hành động trên đơn hàng -->
                                                <td>
                                                    <div class="form-button-action">
                                                        <!-- Nút xem chi tiết đơn hàng -->
                                                        <button type="button" title="Xem chi tiết" class="btn btn-outline-dark me-1 btn-sm" data-bs-toggle="modal" data-bs-target="#detailOrderModal"
                                                                th:data-order-id="${order.orderId}"
                                                                th:data-order-user-name="${order.user.username}"
                                                                th:data-order-user-fullname="${order.user.fullname}"
                                                                th:data-order-user-phone="${order.user.phone}"
                                                                th:data-order-create="${order.createdAt}"
                                                                th:data-order-address="${order.address}"
                                                                th:data-order-totalAmount="${order.totalAmount}"
                                                                th:data-order-totalPayment="${order.totalPayment}"
                                                                th:data-order-totalDiscount="${order.totalDiscount}"
                                                                th:data-order-paymentDate="${order.payment.paymentDate}"
                                                                th:data-order-payment-method="${order.payment.paymentMethod.name() == 'CREDIT_CARD' ? 'Thẻ tín dụng' : 'Khi nhận hàng'}"
                                                                th:data-order-payment-status="${order.payment.paymentStatus.name() == 'PENDING' ? 'Chưa thanh toán' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'Đã thanh toán' : 'Thanh toán thất bại')}"
                                                                th:data-order-status="${order.status.name() == 'PENDING' ? 'Chờ xác nhận' : (order.status.name() == 'COMPLETED' ? 'Hoàn thành' : (order.status.name() == 'ON_PROGRESS' ? 'Đang xử lý' : 'Đã hủy'))}"
                                                                th:data-order-update="${order.updatedAt}"
                                                                th:onclick="'loadOrderItemToModal('+${order.orderId}+')'">
                                                            <i class="fas fa-eye"></i>
                                                        </button>

                                                        <!-- Nút chỉnh sửa đơn hàng -->

                                                        <a th:if="${order.status.name() == 'PENDING' || order.status.name() == 'ON_PROGRESS'}" th:href="@{/restaurant/orders/{id}/edit(id=${order.orderId})}" data-bs-toggle="tooltip" title="Chỉnh sửa đơn hàng" class="btn btn-outline-primary me-1 btn-sm">
                                                            <i class="fa fa-edit"></i>
                                                        </a>

                                                        <button th:if="${order.status.name() == 'ON_PROGRESS'}" 
                                                                th:href="@{/restaurant/orders/{id}/edit(id=${order.orderId})}" 
                                                                data-bs-toggle="tooltip" title="Sẵn sàng giao hàng" 
                                                                class="btn btn-outline-success me-1 btn-sm"
                                                                th:onclick="'onUpdateDeliveryState('+${order.orderId}+')'">
                                                            <i class="fas fa-shipping-fast"></i>
                                                        </button>

                                                        <button th:unless="${order.status.name() == 'CANCELED' || order.status.name() == 'COMPLETED'}" 
                                                                th:href="@{/restaurant/orders/{id}/edit(id=${order.orderId})}" 
                                                                data-bs-toggle="tooltip" title="Hủy đơn"
                                                                class="btn btn-outline-danger me-1 btn-sm"
                                                                th:onclick="'onCancelOrder('+${order.orderId}+')'">
                                                            <i class="fas fa-times"></i>
                                                        </button>

                                                        <!-- Nút xóa đơn hàng -->
                                                        <!-- <button type="button" data-bs-toggle="tooltip" th:onclick="'deleteOrder(' + ${order.orderId} + ')'" title="Xóa đơn hàng" class="btn btn-outline-danger btn-sm">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button> -->
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal fade modal-xl modal-dialog-scrollable" id="detailOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-ms-6 col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title">Thông tin đơn hàng</div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <p class="fw-bold" id="modal-order-price">
                                                                        Người đặt
                                                                    </p>
                                                                    <p class="text-end">
                                                                        <span class="text-muted" id="modal-order-fullname">fullname</span><br>
                                                                        <span class="text-muted" id="modal-order-phone">0494846534</span>
                                                                    </p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p class="fw-bold">Trạng thái đơn hàng</p>
                                                                    <p class="text-muted" id="modal-order-status"></p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p class="fw-bold">Thông tin nhận hàng</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p class="text-muted ms-3" id="modal-order-address">address</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-ms-6 col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title">Thông tin thanh toán</div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between">
                                                                    <p class="fw-bold">Phương thức thanh toán</p>
                                                                    <p class="text-muted" id="modal-order-payment-method">Phương thức thanh toán</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <p class="fw-bold">Trạng thái thanh toán</p>
                                                                    <p class="text-muted" id="modal-order-payment-status">Trạng thái thanh toán</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between mt-2">
                                                                    <p class="fw-bold">Thời gian thanh toán</p>
                                                                    <p class="text-muted" id="modal-order-payment-date"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title">Chi tiết</div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Món ăn</th>
                                                                                <th class="text-end">Số lượng</th>
                                                                                <th class="text-end">Đơn giá</th>
                                                                                <th class="text-end">Tổng</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <!-- <tr>
                                                                                <td><img src="/L1/uploads/product/13_1_20241118_224534648_suon_bi_cha.jpg" alt="image"
                                                                                        class="img-fluid rounded align-self-center me-1 p-0" width="50px" height="40px"
                                                                                        id="selected-img13"><span class="fw-bold" >Cơm sườn bì chả</span></td>
                                                                                <td id="quantity" class="text-end" style="white-space: nowrap;">1</td>
                                                                                <td class="text-end">45,000đ</td>
                                                                                <td class="text-end">45,000đ</td>
                                                                            </tr> -->
                                                                            <tr id="totalRow">
                                                                                <td colspan="3" class="text-end">Tổng tiền hàng</td>
                                                                                <td class="text-end" id="modal-order-totalamount">85,000đ</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" class="text-end">Tổng khuyến mãi</td>
                                                                                <td class="text-end" id="modal-order-totaldiscount">0đ</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" class="text-end fw-bold fs-5">Tổng thanh toán</td>
                                                                                <td class="text-end text-primary fw-bold fs-5" id="modal-order-totalpayment">0đ</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btm-sm" data-bs-dismiss="modal" onclick="onCloseModal()">Đóng</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row content -->
                </div>
            </div>
            <!-- End main content -->




            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}">
            </footer>
            <!-- End footer -->
        </div>
    </div>

    <div th:replace="~{fragments/script :: script}">
	</div>
    <script>
        const numberFotmater = new Intl.NumberFormat('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 })        
        
        $(document).ready(function(){
            $("#multi-filter-select").DataTable({
                pageLength: 10,
                stateSave: true,
                language: {
                    paginate: {
                        next: '&rsaquo;',
                        previous: '&lsaquo;',
                    },
                    info: '_START_ đến _END_ / _TOTAL_ bản ghi',
                    infoFiltered: '(Lọc từ _MAX_ bản ghi)',
                    search: 'Tìm kiếm',
                    searchPlaceholer: 'Nhận từ khóa...',
                    lengthMenu: 'Hiện _MENU_',
                    zeroRecords: 'Không tìm thấy kết quả phù hợp',
                    emptyTable: 'Không có dữ liệu'
                },
                initComplete: function () {
                    this.api()
                    .columns()
                    .every(function (index) {
                        if(index !== 6 && index !== 0){
                            var column = this;
                            var select = $(
                            '<select class="form-select"><option value=""></option></select>'
                            )
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column
                                .search(val ? "^" + val + "$" : "", true, false)
                                .draw();
                            });

                            column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.append(
                                '<option value="' + d + '">' + d + "</option>"
                                );
                            });
                        }
                    });
                },
            });
        })

        const detailOrderModal = document.getElementById('detailOrderModal')
        const totalRow = document.getElementById('totalRow')
        detailOrderModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const orderId = button.getAttribute('data-order-id')
            const orderUsername = button.getAttribute('data-order-user-name')
            const orderFullname = button.getAttribute('data-order-user-fullname')
            const orderPhone = button.getAttribute('data-order-user-phone')
            const orderAddress = button.getAttribute('data-order-address')
            const orderTotalAmount = button.getAttribute('data-order-totalAmount')
            const totalDiscount = button.getAttribute('data-order-totalDiscount')
            const totalPayment = button.getAttribute('data-order-totalPayment')
            const paymentDate = button.getAttribute('data-order-paymentDate')
            const orderPaymentMethod = button.getAttribute('data-order-payment-method')
            const orderPaymentStatus = button.getAttribute('data-order-payment-status')
            const orderStatus = button.getAttribute('data-order-status')
            const orderCreate = button.getAttribute('data-order-create')
            const orderUpdate = button.getAttribute('data-order-update')


            detailOrderModal.querySelector('#modal-order-fullname').textContent = orderFullname;
            detailOrderModal.querySelector('#modal-order-phone').textContent = orderPhone;
            if(orderAddress == null){
                detailOrderModal.querySelector('#modal-order-address').textContent = 'Không có thông tin nhận hàng';
            } else {
                detailOrderModal.querySelector('#modal-order-address').textContent = orderAddress;
            }
            
            detailOrderModal.querySelector('#exampleModalLabel').textContent = '#' + orderId
            detailOrderModal.querySelector('#modal-order-payment-method').textContent = orderPaymentMethod;
            detailOrderModal.querySelector('#modal-order-payment-status').textContent = orderPaymentStatus;
            detailOrderModal.querySelector('#modal-order-status').textContent = orderStatus;
            detailOrderModal.querySelector('#modal-order-totalpayment').textContent =  numberFotmater.format(parseFloat(totalPayment)) + 'đ'
            detailOrderModal.querySelector('#modal-order-totaldiscount').textContent = numberFotmater.format(parseFloat(totalDiscount)) + 'đ'
            detailOrderModal.querySelector('#modal-order-totalamount').textContent = numberFotmater.format(parseFloat(totalPayment)) + 'đ' // numberFotmater.format(parseFloat(orderTotalAmount)) + 'đ'
            const options = {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            };
            const createAt = new Date(orderCreate)
            const updateAt = new Date(orderUpdate)
            const paymentAt = new Date(paymentDate)
            if(orderPaymentStatus == 'Đã thanh toán'){
                detailOrderModal.querySelector('#modal-order-payment-date').textContent = new Intl.DateTimeFormat('vi-VN',options).format(paymentAt)
            }

            detailOrderModal.querySelector('#modal-order-createDate').textContent = new Intl.DateTimeFormat('vi-VN',options).format(createAt)
            detailOrderModal.querySelector('#modal-order-updateDate').textContent = new Intl.DateTimeFormat('vi-VN',options).format(updateAt)
            
        })

        function onComfirmOrder(id){
            const row = document.getElementById(id+'pending')

            $.ajax({
                url: '/L1/restaurant/orders/'+id+'/confirm',
                method: 'GET',
                success: function(response){
                    result = JSON.parse(response)
                    if(result.confirm){
                        setTimeout(function() {
                            row.remove()
                        }, 500)
                        window.location.reload(true);
                    }
                },
                error: function(e) {
                    console.log(e.error)
                }
            })
        }

        function deleteOrder(orderId) {
            swal({
                title: 'Bạn có chắc muốn xóa?',
                text: "Bạn sẽ không thể hoàn tác sau khi thực hiện việc này!",
                icon: 'warning',
                buttons:{
                    confirm: {
                        text : 'Có, xóa!',
                        className : 'btn btn-success'
                    },
                    cancel: {
                        visible: true,
                        text : 'Không',
                        className: 'btn btn-danger'
                    },
                }
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: 'orders/'+orderId+'/delete',
                        method: 'GET',
                        success: function(response) {
                            result = JSON.parse(response)
                            //console.log('delete', result)
                            if(result.delete){
                                swal("Danh mục đã bị xóa!", {
                                    icon: "success",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-success'
                                        }
                                    }
                                }).then((ok) => {
                                    if(ok){
                                        window.location.href = 'orders'
                                    }
                                    window.location.href = 'orders'
                                })
                            } else {
                                swal("Danh mục đã có món ăn, không thể xóa", {
                                    icon: "error",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-danger'
                                        }
                                    }
                                });
                            }
                        },
                        error: function(error) {
                            alert('Đã có lỗi xảy ra!')
                            console.log('delete orders',error)
                        }
                    })
                } else {
                    //do nothing when cancel
                    swal.close()
                }
            });
        }


        function loadOrderItemToModal(orderId) {
            $.ajax({
                url: 'orderitems/'+orderId,
                method: 'GET',
                success: function(response){
                    data = JSON.parse(response)
                    //console.log(data)
                    data.forEach((orderitem, index) => {
                        const newRow = document.createElement('tr');
                        newRow.setAttribute('id', 'product-'+orderitem.product.productId)
                        // Thêm các <td> vào <tr> mới
                        const dish = document.createElement('td');
                        const proImg = document.createElement('img');
                        const proName = document.createElement('span');
                        //dish.appendChild(img)
                        proImg.style.width = '50px'
                        proImg.style.height = '40px'
                        proImg.className = 'img-fluid rounded align-self-center me-2 p-0'
                        proImg.src = '/L1/uploads/product/'+ orderitem.product.productImages[0].pathString
                        //console.log(orderitem.product.productImages[0].pathString)
                        proName.textContent = orderitem.product.name
                        dish.appendChild(proImg)
                        dish.appendChild(proName)
                        newRow.appendChild(dish);

                        const quantity = document.createElement('td');
                        quantity.id = 'quantity' + orderitem.product.productId
                        quantity.className = 'text-end';
                        quantity.style.whiteSpace = 'nowrap'
                        quantity.textContent = orderitem.quantity
                        newRow.appendChild(quantity);

                        const price = document.createElement('td');
                        price.className = 'text-end';
                        price.textContent = numberFotmater.format(parseFloat(orderitem.priceAtOrderTime)) +  'đ'
                        newRow.appendChild(price);

                        const total = document.createElement('td');
                        total.className = 'text-end';
                        total.textContent = numberFotmater.format(orderitem.quantity * parseFloat(orderitem.priceAtOrderTime)) + 'đ'
                        newRow.appendChild(total);
                        newRow.className = 'order-item'
                        totalRow.insertAdjacentElement('beforebegin', newRow);
                    });
                },
                error: function(e) {
                    console.log(e.error)
                }
            })
        }

        function onCloseModal(){
            const orderItems = document.querySelectorAll('.order-item')
            orderItems.forEach((item, index) => {
                item.remove();
            });
        }

        function onUpdateDeliveryState(id){
            swal({
                title: 'Xác nhận đơn hàng có thể giao',
                text: "Bạn sẽ không thể hoàn tác sau khi thực hiện việc này!",
                icon: 'info',
                buttons:{
                    confirm: {
                        text : 'Xác nhận',
                        className : 'btn btn-success'
                    },
                    cancel: {
                        visible: true,
                        text : 'Không',
                        className: 'btn btn-danger'
                    },
                }
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/L1/restaurant/orders/'+id+'/updateDeliveryState',
                        method: 'GET',
                        success: function(response){
                            result = JSON.parse(response)
                            if(result.updated){
                                swal({
                                    icon: "success",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-success'
                                        }
                                    }
                                }).then((ok) => {
                                    if(ok){
                                        window.location.href = 'orders'
                                    }
                                    window.location.href = 'orders'
                                })
                            } else {
                                setTimeout(function() {
                                }, 500)
                                window.location.reload(true);
                            }
                        },
                        error: function(e) {
                            console.log(e.error)
                        }
                    })
                } else {
                    //do nothing when cancel
                    swal.close()
                }
            });
        }

        function onCancelOrder(id) {
            swal({
                title: 'Xác nhận hủy đơn hàng',
                text: "Bạn sẽ không thể hoàn tác sau khi thực hiện việc này!",
                icon: 'warning',
                buttons:{
                    confirm: {
                        text : 'Xác nhận',
                        className : 'btn btn-success'
                    },
                    cancel: {
                        visible: true,
                        text : 'Không',
                        className: 'btn btn-danger'
                    },
                }
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/L1/restaurant/orders/'+id+'/cancelOrder',
                        method: 'GET',
                        success: function(response){
                            result = JSON.parse(response)
                            if(result.canceled){
                                swal('Đã hủy đơn hàng',{
                                    icon: "success",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-success'
                                        }
                                    }
                                }).then((ok) => {
                                    if(ok){
                                        window.location.href = 'orders'
                                    }
                                    window.location.href = 'orders'
                                })
                            } else {
                                setTimeout(function() {
                                }, 500)
                                window.location.reload(true);
                            }
                        },
                        error: function(e) {
                            console.log(e.error)
                        }
                    })
                } else {
                    //do nothing when cancel
                    swal.close()
                }
            });
        }
    </script>
</body>
</html>