<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Quản lý đơn hàng - Cơm tấm Tư Mập</title>
	<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
	<link rel="icon" th:href="@{/img/logo_comtam2.png}" type="image/x-icon" />

	<!-- Fonts and icons -->
	<script th:src="@{/js/plugin/webfont/webfont.min.js}"></script>


	<!-- CSS Files -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/plugins.min.css}" />
	<link rel="stylesheet" th:href="@{/css/kaiadmin.min.css}" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<!-- <link rel="stylesheet" th:href="@{/css/demo.css}" /> -->
	<link rel="stylesheet" th:href="@{/css/fonts.min.css}" />
	<link rel="stylesheet" th:href="@{/css/demo2.css}" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
				<div class="logo-header" data-background-color="dark">
					<a th:href="@{/restaurant/dashboard}" class="logo">
						<img th:src="@{/img/logo_comtam2.png}" alt="navbar brand" class="navbar-brand"
							height="60" />
						<span class="text-white">Tư Mập</span>
					</a>
					<div class="nav-toggle">
						<button class="btn btn-toggle toggle-sidebar">
							<i th:class="gg-menu-right"></i>
						</button>
						<button class="btn btn-toggle sidenav-toggler">
							<i class="gg-menu-left"></i>
						</button>
					</div>
					<button class="topbar-toggler more">
						<i class="gg-more-vertical-alt"></i>
					</button>
				</div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item ">
							<a th:href="@{/restaurant/dashboard}" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="#" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/accounts}" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

        <div class="main-panel">
            <!-- Header -->
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a th:href="@{/restaurant/dashboard}" class="logo">
                            <img src="static/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand"
                                height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control" />
                            </div> -->
                            <h3 class="fw-bold mb-0">Quản lý đơn hàng</h3>
                        </nav>

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false" aria-haspopup="true">
                                    <i class="fa fa-search"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-search animated fadeIn">
                                    <form class="navbar-left navbar-form nav-search">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search ..." class="form-control" />
                                        </div>
                                    </form>
                                </ul>
                            </li>
                            <!-- Notification icon -->
                            <li class="nav-item topbar-icon dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification">4</span>
                                </a>
                                <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                    <li>
                                        <div class="dropdown-title">
                                            You have 4 new notification
                                        </div>
                                    </li>
                                    <li>
                                        <div class="notif-scroll scrollbar-outer">
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-icon notif-primary">
                                                        <i class="fa fa-user-plus"></i>
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block"> New user registered </span>
                                                        <span class="time">5 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-success">
                                                        <i class="fa fa-comment"></i>
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            Rahmad commented on Admin
                                                        </span>
                                                        <span class="time">12 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="static/img/profile2.jpg" alt="Img Profile" />
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            Reza send messages to you
                                                        </span>
                                                        <span class="time">12 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-danger">
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block"> Farrah liked Admin </span>
                                                        <span class="time">17 minutes ago</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="see-all" href="javascript:void(0);">See all notifications<i
                                                class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End notification icon -->

                            <!-- Profile preview -->
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                    aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="static/img/profile.jpg" alt="..." class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="op-7">Hi,</span>
                                        <span class="fw-bold">Hizrian</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                        <li>
                                            <div class="user-box">
                                                <div class="avatar-lg">
                                                    <img src="static/img/profile.jpg" alt="image profile"
                                                        class="avatar-img rounded" />
                                                </div>
                                                <div class="u-text">
                                                    <h4>Hizrian</h4>
                                                    <p class="text-muted">hello@example.com</p>
                                                    <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View
                                                        Profile</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">My Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Account Setting</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" th:href="@{/restaurant/authenticate}">Logout</a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                            <!-- End profile preview -->
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- End header -->



            <!-- Main content -->
            <div class="container">
                <div class="page-inner">
                    <!-- Breadcrum -->
                    <div class="row">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a th:href="@{/restaurant/dashboard}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Quản lý đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End breadcrum -->



					<!-- Row content -->
					<div class="row">
						<div class="col-md-12">
							<div class="card card-round">
								<div class="card-header">
									<div class="card-head-row">
										<div class="card-title">Đơn chờ xác nhận</div>
										<div class="card-tools">
											<a href="#" class="btn btn-label-primary btn-round btn-sm me-2">
												<span class="btn-label">
													6
												</span> Đơn
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div class="flex-1">
											<h6 class="fw-bold mb-1">
												Nguyễn Ngọc Ngạn
												<span class="ps-3 fw-normal">8:40 PM</span>
											</h6>
											<div>
												<span class="text-muted">0983746573</span>
												<span> - </span>
												<span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
											</div>
											<div class="text-dark">
												189,000đ
											</div>
											<div >
												<span class="text-muted">Thanh toán bằng tài khoản ngân hàng</span>
												<span> - </span>
												<span class="text-success">Đã thanh toán</span>
											</div>
											<div>
												<button class="nav-link text-primary" data-bs-toggle="modal" data-bs-target="#detailOrderModal">Xem chi tiết</button>
											</div>
										</div>
										<div class="float-end pt-1">
											<button class="btn btn-round btn-primary">Xác nhận</button>
										</div>
									</div>
									<div class="separator-dashed"></div>
									<div class="d-flex align-items-center" id="item-2">
										<div class="flex-1">
											<h6 class="fw-bold mb-1">
												Nguyễn Ngọc Ngạn
												<span class="ps-3 fw-normal">8:40 PM</span>
											</h6>
											<div>
												<span class="text-muted">0983746573</span>
												<span> - </span>
												<span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
											</div>
											<div class="text-dark">
												189,000đ
											</div>
											<div >
												<span class="text-muted">Thanh toán khi nhận hàng</span>
												<span> - </span>
												<span class="text-warning">Chưa thanh toán</span>
											</div>
											<div>
												<button class="nav-link text-primary" data-bs-toggle="modal" data-bs-target="#detailOrderModal">Xem chi tiết</button>
											</div>
										</div>
										<div class="float-end pt-1">
											<button class="btn btn-round btn-primary" onclick="onComfirmOrder()">Xác nhận</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End row content -->



                    <!-- Row content -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-round">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Danh sách đơn hàng</h4>
                                        <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal">
                                            <i class="fa fa-plus"></i>
                                            Tạo đơn
                                        </button>
                                        <div class="card-tools">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="multi-filter-select" class="display table table-hover">
                                            <thead>
                                                <tr role="row">
                                                    <th>
                                                        Khách hàng
                                                    </th>
                                                    <th>
                                                        Thời gian đặt
                                                    </th>
                                                    <th>
                                                        Tổng tiền
                                                    </th>
                                                    <th>
                                                        Phương thức thanh toán
                                                    </th>
                                                    <th>
                                                        Trạng thái thanh toán
                                                    </th>
                                                    <th>
                                                        Trạng thái đơn hàng
                                                    </th>
                                                    <th style="width: 10%;">
                                                        Thao tác
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Khách hàng</th>
                                                    <th>Thời gian đặt</th>
                                                    <th>Tổng tiền</th>
                                                    <th>Phương thức thanh toán</th>
                                                    <th>Trạng thái thanh toán</th>
                                                    <th>Trạng thái đơn hàng</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr role="row">
                                                    <td>hong khạnh</td>
                                                    <td>20/10/2024 12:22:21</td>
                                                    <td>123,000đ</td>
                                                    <td class="text-info">Banking</td>
                                                    <td class="text-success">Đã thanh toán</td>
                                                    <td class="text-warning">Chờ xác nhận</td>
                                                    <td>
                                                        <div class="form-button-action">
                                                            <button type="button" title="" class="btn btn-outline-dark me-1 btn-sm" data-original-title="See" data-bs-toggle="modal" data-bs-target="#detailOrderModal">
                                                                <i class="fas fa-eye"></i>
                                                            </button>
                                                            <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-outline-primary me-1 btn-sm" data-original-title="Edit Task">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-outline-danger btn-sm" data-original-title="Cancel" data-bs-placement="top" data-bs-title="Hủy đơn">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row">
                                                    <td>hong khạnh</td>
                                                    <td>20/11/2024 12:22:21</td>
                                                    <td>123,000đ</td>
                                                    <td class="text-info">Banking</td>
                                                    <td class="text-success">Đã thanh toán</td>
                                                    <td class="text-warning">Chờ xác nhận</td>
                                                    <td>
                                                        <div class="form-button-action">
                                                            <button type="button" title="" class="btn btn-outline-dark me-1 btn-sm" data-original-title="See" data-bs-toggle="modal" data-bs-target="#detailOrderModal">
                                                                <i class="fas fa-eye"></i>
                                                            </button>
                                                            <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-outline-primary me-1 btn-sm" data-original-title="Edit Task">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-outline-danger btn-sm" data-original-title="Cancel" data-bs-placement="top" data-bs-title="Hủy đơn">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="old" role="row">
                                                    <td>aong ghạnh</td>
                                                    <td>21/10/2024 12:32:21</td>
                                                    <td>189,000đ</td>
                                                    <td class="text-warning">Khi nhận hàng</td>
                                                    <td class="text-success">Đã thanh toán</td>
                                                    <td class="text-success">Hoàn thành</td>
                                                    <td>
                                                        <div class="form-button-action">
                                                            <button type="button" title="" class="btn btn-outline-dark me-1 btn-sm" data-original-title="See" data-bs-toggle="modal" data-bs-target="#detailOrderModal">
                                                                <i class="fas fa-eye"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal fade modal-lg modal-dialog-scrollable" id="detailOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-1">
                                                        <h6 class="fw-bold mb-1">
                                                            Nguyễn Ngọc Ngạn
                                                            <span class="ps-3 fw-normal">8:40 PM</span>
                                                        </h6>
                                                        <div>
                                                            <span class="text-muted">0983746573</span>
                                                            <span> - </span>
                                                            <span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
                                                        </div>
                                                        <div class="text-dark">
                                                            189,000đ
                                                        </div>
                                                        <div>
                                                            <span class="text-muted">Thanh toán khi nhận hàng</span>
                                                            <span> - </span>
                                                            <span class="text-warning">Chưa thanh toán</span>
                                                        </div>
                                                        <div>
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">Món ăn</th>
                                                                        <th scope="col">Số lượng</th>
                                                                        <th scope="col">Đơn giá</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>Cơm xào me</td>
                                                                        <td>4</td>
                                                                        <td>34,000</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btm-sm" data-bs-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row content -->
                </div>
            </div>
            <!-- End main content -->




            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <!-- <a class="nav-link" href="http://www.themekita.com">
                                    ThemeKita
                                </a> -->
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        2024, made with by
                        <a href="#">HqKhanh-Fithou</a>
                    </div>
                </div>
            </footer>
            <!-- End footer -->
        </div>
    </div>

    <!--   Core JS Files   -->
	<script th:src="@{/js/core/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/core/popper.min.js}"></script>
	<script th:src="@{/js/core/bootstrap.min.js}"></script>

	<!-- jQuery Scrollbar -->
	<script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

	<!-- Chart JS -->
	<script th:src="@{/js/plugin/chart.js/chart.min.js}"></script>

	<!-- jQuery Sparkline -->
	<script th:src="@{/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

	<!-- Chart Circle -->
	<script th:src="@{/js/plugin/chart-circle/circles.min.js}"></script>

	<!-- Datatables -->
	<script th:src="@{/js/plugin/datatables/datatables.min.js}"></script>

	<!-- Bootstrap Notify -->
	<script th:src="@{/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

	<!-- jQuery Vector Maps -->
	<script th:src="@{/js/plugin/jsvectormap/jsvectormap.min.js}"></script>
	<script th:src="@{/js/plugin/jsvectormap/world.js}"></script>

	<!-- Sweet Alert -->
	<script th:src="@{/js/plugin/sweetalert/sweetalert.min.js}"></script>

	<!-- Kaiadmin JS -->
	<script th:src="@{/js/kaiadmin.min.js}"></script>

	<!-- Kaiadmin DEMO methods, don't include it in your project! -->
	<script th:src="@{/js/demo2.js}"></script>
    <script>
        $(document).ready(function(){
            $("#multi-filter-select").DataTable({
                pageLength: 10,
                stateSave: true,
                language: {
                    paginate: {
                        next: '&rsaquo;',
                        previous: '&lsaquo;',
                    },
                    info: '_START_ đến _END_ / _TOTAL_ bản ghi',
                    infoFiltered: '(Lọc từ _MAX_ bản ghi)',
                    search: 'Tìm kiếm',
                    searchPlaceholer: 'Nhận từ khóa...',
                    lengthMenu: 'Hiện _MENU_',
                    zeroRecords: 'Không tìm thấy kết quả phù hợp',
                    emptyTable: 'Không có dữ liệu'
                },
                initComplete: function () {
                    this.api()
                    .columns()
                    .every(function (index) {
                        if(index !== 6){
                            var column = this;
                            var select = $(
                            '<select class="form-select"><option value=""></option></select>'
                            )
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column
                                .search(val ? "^" + val + "$" : "", true, false)
                                .draw();
                            });

                            column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.append(
                                '<option value="' + d + '">' + d + "</option>"
                                );
                            });
                        }
                    });
                },
            });
        })


    </script>
</body>
</html>