<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
                <div th:replace="~{fragments/head :: logo_header}">
                </div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item ">
							<a th:href="@{/restaurant/dashboard}" class="py-3">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="#" class="py-3">
								<i class="fas fa-clipboard"></i>
								<p>Quản lý đơn hàng</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/products}" class="py-3">
								<i class="fas fa-utensils"></i>
								<p>Quản lý món ăn</p>
							</a>
						</li>
                        <li class="nav-item">
							<a th:href="@{/restaurant/categories}" class="py-3">
								<i class="fas fa-grip-horizontal"></i>
								<p>Quản lý danh mục món ăn</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/coupons}" class="py-3">
								<i class="fas fa-percentage"></i>
								<p>Quản lý khuyến mãi</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/restaurant/accounts}" class="py-3">
								<i class="fas fa-users"></i>
								<p>Quản lý tài khoản</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#report" class="collapsed py-3" aria-expanded="false">
								<i class="fas fa-chart-pie"></i>
								<p>Quản lý thống kê</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="report">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/restaurant/revenue}" class="py-2">
											<span class="sub-item">Doanh số</span>
										</a>
									</li>
									<li>
										<a th:href="@{/restaurant/reviews}" class="py-2">
											<span class="sub-item">Đánh giá</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

        <div class="main-panel">
            <!-- Header -->
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div th:replace="~{fragments/head :: logo_header}">
					</div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control" />
                            </div> -->
                            <h3 class="fw-bold mb-0">Quản lý đơn hàng</h3>
                        </nav>

                        <ul th:replace="~{fragments/head :: user_box}"></ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- End header -->



            <!-- Main content -->
            <div class="container">
                <div class="page-inner">
                    <!-- Breadcrum -->
                    <div class="row">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a th:href="@{/restaurant/dashboard}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Quản lý đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End breadcrum -->



					<!-- Row content -->
					<div class="row">
						<div class="col-md-12">
							<div class="card card-round">
								<div class="card-header">
									<div class="card-head-row">
										<div class="card-title">Đơn chờ xác nhận</div>
										<div class="card-tools">
											<a href="#" class="btn btn-label-primary btn-round btn-sm me-2">
												<span class="btn-label">
													6
												</span> Đơn
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div class="flex-1">
											<h6 class="fw-bold mb-1">
												Nguyễn Ngọc Ngạn
												<span class="ps-3 fw-normal">8:40 PM</span>
											</h6>
											<div>
												<span class="text-muted">0983746573</span>
												<span> - </span>
												<span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
											</div>
											<div class="text-dark">
												189,000đ
											</div>
											<div >
												<span class="text-muted">Thanh toán bằng tài khoản ngân hàng</span>
												<span> - </span>
												<span class="text-success">Đã thanh toán</span>
											</div>
											<div>
												<button class="nav-link text-primary" data-bs-toggle="modal" data-bs-target="#detailOrderModal">Xem chi tiết</button>
											</div>
										</div>
										<div class="float-end pt-1">
											<button class="btn btn-round btn-primary">Xác nhận</button>
										</div>
									</div>
									<div class="separator-dashed"></div>
									<div class="d-flex align-items-center" id="item-2">
										<div class="flex-1">
											<h6 class="fw-bold mb-1">
												Nguyễn Ngọc Ngạn
												<span class="ps-3 fw-normal">8:40 PM</span>
											</h6>
											<div>
												<span class="text-muted">0983746573</span>
												<span> - </span>
												<span class="text-muted">84/2 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</span>
											</div>
											<div class="text-dark">
												189,000đ
											</div>
											<div >
												<span class="text-muted">Thanh toán khi nhận hàng</span>
												<span> - </span>
												<span class="text-warning">Chưa thanh toán</span>
											</div>
											<div>
												<button class="nav-link text-primary" data-bs-toggle="modal" data-bs-target="#detailOrderModal">Xem chi tiết</button>
											</div>
										</div>
										<div class="float-end pt-1">
											<button class="btn btn-round btn-primary" onclick="onComfirmOrder()">Xác nhận</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End row content -->



                    <!-- Row content -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-round">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Danh sách đơn hàng</h4>
                                        <a class="btn btn-primary btn-round ms-auto" th:href="@{orders/new}">
                                            <i class="fa fa-plus"></i>
                                            Tạo đơn
                                        </a>
                                        <div class="card-tools">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="multi-filter-select" class="display table table-hover">
                                            <thead>
                                                <tr role="row">
                                                    <th>
                                                        Khách hàng
                                                    </th>
                                                    <th>
                                                        Thời gian đặt
                                                    </th>
                                                    <th>
                                                        Tổng tiền
                                                    </th>
                                                    <th>
                                                        Phương thức thanh toán
                                                    </th>
                                                    <th>
                                                        Trạng thái thanh toán
                                                    </th>
                                                    <th>
                                                        Trạng thái đơn hàng
                                                    </th>
                                                    <th style="width: 10%;">
                                                        Thao tác
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Khách hàng</th>
                                                    <th>Thời gian đặt</th>
                                                    <th>Tổng tiền</th>
                                                    <th>Phương thức thanh toán</th>
                                                    <th>Trạng thái thanh toán</th>
                                                    <th>Trạng thái đơn hàng</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            <tr th:each="order : ${orders}" class="old" role="row">
                                                <!-- Hiển thị số điện thoại người dùng -->
                                                <td th:text="${order.user.fullname}"></td>

                                                <!-- Hiển thị ngày tạo đơn hàng -->
                                                <td th:text="${order.createdAt}"></td>

                                                <!-- Hiển thị tổng tiền đơn hàng -->
                                                <td th:text="${order.totalAmount + ' đồng'}"></td>

                                                <!-- Hiển thị phương thức thanh toán -->
                                                <td th:text="${order.payment.paymentMethod.name() == 'CREDIT_CARD' ? 'Thẻ tín dụng' : 'Khi giao hàng'}" class="text-secondary"></td>

                                                <!-- Hiển thị trạng thái thanh toán -->
                                                <td th:classappend="${order.payment.paymentStatus.name() == 'PENDING' ? 'text-danger' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'text-success' : 'text-warning')}"
                                                    th:text="${order.payment.paymentStatus.name() == 'PENDING' ? 'Chưa thanh toán' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'Đã thanh toán' : 'Thanh toán thất bại')}"></td>

                                                <!-- Hiển thị trạng thái đơn hàng -->
                                                <td th:classappend="${order.status.name() == 'PENDING' ? 'text-warning' : (order.status.name() == 'COMPLETED' ? 'text-success' : 'text-danger')}"
                                                    th:text="${order.status.name() == 'PENDING' ? 'Chưa giao hàng' : (order.status.name() == 'COMPLETED' ? 'Giao hàng thành công' : 'Đã hủy đơn')}"></td>

                                                <!-- Các hành động trên đơn hàng -->
                                                <td>
                                                    <div class="form-button-action">
                                                        <!-- Nút xem chi tiết đơn hàng -->
                                                        <button type="button" title="Xem chi tiết" class="btn btn-outline-dark me-1 btn-sm" data-bs-toggle="modal" data-bs-target="#detailOrderModal"
                                                                th:data-order-user-name="${order.user.username}"
                                                                th:data-order-create="${order.createdAt}"
                                                                th:data-order-totalAmount="${order.totalAmount}"
                                                                th:data-order-payment-method="${order.payment.paymentMethod.name() == 'CREDIT_CARD' ? 'Thẻ tín dụng' : 'Khi giao hàng'}"
                                                                th:data-order-payment-status="${order.payment.paymentStatus.name() == 'PENDING' ? 'Chưa thanh toán' : (order.payment.paymentStatus.name() == 'COMPLETED' ? 'Đã thanh toán' : 'Thanh toán thất bại')}"
                                                                th:data-order-status="${order.status.name() == 'PENDING' ? 'Chưa giao hàng' : (order.status.name() == 'COMPLETED' ? 'Giao hàng thành công' : 'Đã hủy đơn')}"
                                                                th:data-order-update="${order.updatedAt}"
                                                                th:onclick="'loadorderImageToModal(' + ${order.orderId} + ')'">
                                                            <i class="fas fa-eye"></i>
                                                        </button>

                                                        <!-- Nút chỉnh sửa đơn hàng -->
                                                        <a th:href="@{/restaurant/orders/{id}/edit(id=${order.orderId})}" data-bs-toggle="tooltip" title="Chỉnh sửa đơn hàng" class="btn btn-outline-primary me-1 btn-sm">
                                                            <i class="fa fa-edit"></i>
                                                        </a>

                                                        <!-- Nút xóa đơn hàng -->
                                                        <button type="button" data-bs-toggle="tooltip" th:onclick="'deleteOrder(' + ${order.orderId} + ')'" title="Xóa đơn hàng" class="btn btn-outline-danger btn-sm">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal fade modal-lg modal-dialog-scrollable" id="detailOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-8">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="card-title">Thông tin đơn hàng</div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between">
                                                                <div>
                                                                    <h5 class="text-muted" id="modal-order-price">
                                                                        Khách hàng:
                                                                    </h5>
                                                                    <h5><b id="modal-order-username">Cơm xào me</b></h5>
                                                                </div>

                                                                <h5 class="text-secondary fw-bold" id="modal-order-totalamount">
                                                                    189,000đ
                                                                </h5>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <p>Phương thức thanh toán</p>
                                                                <p class="text-muted" id="modal-order-payment-method">Đang phục vụ</p>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <p>Trạng thái thanh toán</p>
                                                                <p class="text-muted" id="modal-order-payment-status">Hiện</p>
                                                            </div>
                                                            <div class="d-flex justify-content-between mt-2">
                                                                <p>Trạng thái đơn hàng</p>
                                                                <p class="text-muted" id="modal-order-status">19/10/2024 14:23:12</p>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <p>Khởi tạo</p>
                                                                <p class="text-muted" id="modal-order-createDate">20/10/2024 18:32:04</p>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <p>Cập nhật</p>
                                                                <p class="text-muted" id="modal-order-updateDate">20/10/2024 18:32:04</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btm-sm" data-bs-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row content -->
                </div>
            </div>
            <!-- End main content -->




            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}">
            </footer>
            <!-- End footer -->
        </div>
    </div>

    <div th:replace="~{fragments/script :: script}">
	</div>
    <script>
        $(document).ready(function(){
            $("#multi-filter-select").DataTable({
                pageLength: 10,
                stateSave: true,
                language: {
                    paginate: {
                        next: '&rsaquo;',
                        previous: '&lsaquo;',
                    },
                    info: '_START_ đến _END_ / _TOTAL_ bản ghi',
                    infoFiltered: '(Lọc từ _MAX_ bản ghi)',
                    search: 'Tìm kiếm',
                    searchPlaceholer: 'Nhận từ khóa...',
                    lengthMenu: 'Hiện _MENU_',
                    zeroRecords: 'Không tìm thấy kết quả phù hợp',
                    emptyTable: 'Không có dữ liệu'
                },
                initComplete: function () {
                    this.api()
                    .columns()
                    .every(function (index) {
                        if(index !== 6){
                            var column = this;
                            var select = $(
                            '<select class="form-select"><option value=""></option></select>'
                            )
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column
                                .search(val ? "^" + val + "$" : "", true, false)
                                .draw();
                            });

                            column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.append(
                                '<option value="' + d + '">' + d + "</option>"
                                );
                            });
                        }
                    });
                },
            });
        })

        const detailOrderModal = document.getElementById('detailOrderModal')
        detailOrderModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const orderUsername = button.getAttribute('data-order-user-name')
            const orderTotalAmount = button.getAttribute('data-order-totalAmount')
            const orderPaymentMethod = button.getAttribute('data-order-payment-method')
            const orderPaymentStatus = button.getAttribute('data-order-payment-status')
            const orderStatus = button.getAttribute('data-order-status')
            const orderCreate = button.getAttribute('data-order-create')
            const orderUpdate = button.getAttribute('data-order-update')




            detailOrderModal.querySelector('#modal-order-username').textContent = orderUsername;
            detailOrderModal.querySelector('#modal-order-totalamount').textContent = orderTotalAmount;
            detailOrderModal.querySelector('#modal-order-payment-method').textContent = orderPaymentMethod;
            detailOrderModal.querySelector('#modal-order-payment-status').textContent = orderPaymentStatus;
            detailOrderModal.querySelector('#modal-order-status').textContent = orderStatus;
            const options = {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            };
            const createAt = new Date(orderCreate)
            const updateAt = new Date(orderUpdate)
            detailOrderModal.querySelector('#modal-order-createDate').textContent = new Intl.DateTimeFormat('vi-VN',options).format(createAt)
            detailOrderModal.querySelector('#modal-order-updateDate').textContent = new Intl.DateTimeFormat('vi-VN',options).format(updateAt)
        })

        function deleteOrder(orderId) {
            swal({
                title: 'Bạn có chắc muốn xóa?',
                text: "Bạn sẽ không thể hoàn tác sau khi thực hiện việc này!",
                icon: 'warning',
                buttons:{
                    confirm: {
                        text : 'Có, xóa!',
                        className : 'btn btn-success'
                    },
                    cancel: {
                        visible: true,
                        text : 'Không',
                        className: 'btn btn-danger'
                    },
                }
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: 'orders/'+orderId+'/delete',
                        method: 'GET',
                        success: function(response) {
                            result = JSON.parse(response)
                            //console.log('delete', result)
                            if(result.delete){
                                swal("Danh mục đã bị xóa!", {
                                    icon: "success",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-success'
                                        }
                                    }
                                }).then((ok) => {
                                    if(ok){
                                        window.location.href = 'orders'
                                    }
                                    window.location.href = 'orders'
                                })
                            } else {
                                swal("Danh mục đã có món ăn, không thể xóa", {
                                    icon: "error",
                                    buttons : {
                                        confirm : {
                                            className: 'btn btn-danger'
                                        }
                                    }
                                });
                            }
                        },
                        error: function(error) {
                            alert('Đã có lỗi xảy ra!')
                            console.log('delete orders',error)
                        }
                    })
                } else {
                    //do nothing when cancel
                    swal.close()
                }
            });
        }

    </script>
</body>
</html>